@model StateProvinceModel

@{
    Layout = "_AdminLayout";

    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Countries.States.EditStateDetails").Text;
}

<form asp-controller="Country" asp-action="StateEdit"  method="post" id="state-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Countries.States.EditStateDetails") - @Model.Name
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-route-id="@Model.CountryId">@T("Admin.Configuration.Countries.States.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.CountryStateDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateState", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="state-delete" />
